[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
bcrypt = "*"
cffi = "*"
itsdangerous = "*"
passlib = "*"
pycparser = "*"
six = "*"
py2neo = "==2.0.8"

[requires]
python_version = "3.7"

[scripts]
app = "python ./run.py"
